numpy==2.0.0
pandas==2.2.2
torch==2.4.1       # Updated torch, need to be tested
gin==0.1.006
gin_config==0.5.0
matplotlib==3.8.4  # Updated
scipy==1.14.1
psutil
func_timeout

# Added packages
setuptools==72.1.0
seaborn==0.13.2
tqdm==4.66.5
einops==0.8.0
psutil
func_timeout